<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tradesies.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B8C59EB1DA9872B0093A158</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B8C59FF1DA9872C0093A158</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B8C5A0A1DA9872C0093A158</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
